[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
ehforwarderbot = "*"
python-telegram-bot = "*"
python-magic = "*"
moviepy = "*"
peewee = "*"
requests = "*"
pydub = "*"

[requires]
python_version = ">=3.6"
